input {
    color: black;
}

a{
    text-decoration: none;
}
h1 {
    margin-left: 5rem;
    font-size: 7rem;
    font-family: 'Fredoka One', cursive;
    color:white;
    text-decoration: none;
    
}

h1:hover{
    transition-timing-function: linear;
    background-color: black;
    transition: .5s ease;
    width: 340px;
    border-radius: 15px;
    
}

catchat{
text-shadow: 2px 2px 5px red;
}
/*
"catchat":hover{
    transition-timing-function: linear;
    background-color: black;
    transition: .5s ease;    
} */



/*--------------------login.php---------------*/
#inputlogin{
margin-top: 5px;
margin-left: 50%;
border-radius: 5px;

}

#inputmdp{
margin-top: 5px;
margin-left: 50%;
border-radius: 5px;
}

#checkbox{
margin-top: 5px;
margin-left: 50%; 
}

#btnvalid{
margin-top: 5px;
border-radius: 15px;
text-decoration:none;
}

#checkbox{
margin-right: 3px;
}

/*--------------------index.php---------------*/

header{
background-color: pink;
}

#footer{
display: flex;
background-color: #f6bcce;
padding-left: 50%; 
}

#catchat{
padding-left: 50%;
}

#login{
padding-left: 50%;
font-size: 2rem;
list-style: none;
}

#register{
padding-left: 50%;
font-size: 2rem;
list-style: none;
}

#logosite{
margin-left: 5rem;
font-size: 7rem;
margin-top: -3rem;
}

/*--------------------creation.php---------------*/

#inputemail2{
margin-left: 50%;
font-size: 2rem;
}

#inputlogin2{
margin-left: 48%;
font-size: 2rem;
}

#inputmdp2{
margin-left: 50%;
font-size: 2rem;
}

#inputconfirmmdp2{
margin-left: 50%;
font-size: 2rem;
}

#creationenvoyer{
margin-left: 50%; 
font-size: 2rem;
}

/*--------------------amis.php---------------*/


#barre_recherche{
margin-left: 50%;
}

#btn_recherche{
margin-left: 50%;
}

#mes_amis{
margin-left: 50%;
}

#invitations{
margin-left: 50%;
}

#en_attente{
margin-left: 50%;
}

#demande_envoyees{
margin-left: 50%;
}